#mytheresa_logo_div{
    height: auto;
    margin-top: 20px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

#mytheresa_logo{
    height: 100px;
    /* border: 1px solid red; */
    margin-left: 35%;
}
#mytheresa_logo img{
    width: 100%;
    height: 100%;
}
#mytheresa_logo2{
    display: flex;
    margin-top: 32px;
    margin-left: 270px;
    height: 50px;
    width: auto;
    /* border: 1px solid red; */
}
#mytheresa_logo2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(117, 117, 117);
}
#mytheresa_logo2 img{
    margin-left: 2px;
}

/* free shipping div started here */

#free_shipping{
    height: auto;
    width: 90%;
    /* border: 1px solid black; */
    margin-left: 5%;
}
#women{
    height: auto;
    width: 90%;
    /* border: 1px solid black; */
    margin-left: 5%;
}
#women img{
    width: 100%;
}
#kids{
    height: auto;
    width: 90%;
    margin-top: 28px;
    /* border: 1px solid black; */
    margin-left: 5%;
}
#kids img{
    width: 100%;
}
#life{
    height: auto;
    width: 90%;
    margin-top: 28px;
    /* border: 1px solid black; */
    margin-left: 5%;
}
#life img{
    width: 100%;
}